{% extends '::admin.html.twig' %}

{% block page_title %}
		<h1 class="page-header">Insert a new product</h1>
{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Insert product</h3>
		</div>
		<br/>
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		    <table align = "center" style="border-spacing: 10px;">
			<tr>
				<td>{{ form_widget(form.productName, {'attr': {'class': 'form-control','placeholder': 'Category name'}})}}</td>
				<td style="color:red">{{ form_errors(form.productName) }}</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.productPrice, {'attr': {'class': 'form-control','placeholder': 'Product price', 'style': 'resize: none'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.productPrice) }}</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.productAddition, {'attr': {'class': 'form-control','placeholder': 'Product addition (%)'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.productAddition) }}</td>
		    </tr>
		    <tr>
		    	<td align="center">Manufacture date</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.manufactureDate, {'attr': {'class': 'form-control','placeholder': 'Manufacture date (YYYY-MM-DD)'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.manufactureDate) }}</td>
		    </tr>
		    		    <tr>
		    	<td align="center">Expiring date</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.expiringDate, {'attr': {'class': 'form-control','placeholder': 'Manufacture date (YYYY-MM-DD)'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.expiringDate) }}</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.category, {'attr': {'class': 'form-control','placeholder': 'Manufacture date (YYYY-MM-DD)'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.category) }}</td>
		    </tr>
		    <tr>
		    	<td>{{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder': 'Category description', 'style': 'resize: none'}}) }}</td>
		    	<td style="color:red">{{ form_errors(form.description) }}</td>
		    </tr>
		    </table>
		 
			<br/>
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-default','style': 'margin-left:43%;background-color:#87BAE5'}}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}