{% extends '::admin.html.twig' %}
{% block page_title %}
{% endblock %}
{% block content %}
	<div class="panel panel-default">
  		<div class="panel-heading">Producers</div>
  		
  		<table class="table">
    		<tr>
  				<th>#</th>
  				<th>Producer name</th>
  				<th>Url</th>
  			</tr>
  			{% for item in producers %}
  			<tr>
  				<td>{{ item.id }} </td>
  				<td>{{ item.producername }} </td>
  				<td>{{ item.url }} </td>
  				<td>
  					<form action="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::VIEW_PRODUCER_DETAILS_KEY'), {  'producer':item.id }) }}">
  						<input type="submit" class="btn btn-default" style='background-color:#87BAE5' value="View details"/>
  					</form>
  				</td>
  				<td>
  					<form action="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::DROP_PRODUCER_KEY'), {  'producer':item.id  }) }}">
  						<input type="submit" class="btn btn-default" style='background-color:#87BAE5' value="Drop producer"/>
  					</form>
  				</td>
  				<td>
  					<form action="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::UPDATE_PRODUCER_KEY'), {  'producer':item.id }) }}">
  						<input type="submit" class="btn btn-default" style='background-color:#87BAE5' value="Update producer"/>
  					</form>
  				</td>
  			</tr>
  			{% endfor %}
  		</table>
  	</div>
	
	<div align="center">
    <ul class="pagination">
        {% if paginator.currentpage != 1 %}
            <li> <a class="previous" href="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::VIEW_PRODUCER_KEY'), {  'offset': paginator.currentpage-1 }) }}">Previous</a>
        {% endif %}
        {% for i in 1..paginator.numpages%}
            {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                {% if i==paginator.currentpage %}
                    <li><a class="active" href="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::VIEW_PRODUCER_KEY'), {  'offset': i })}}">{{i}}</a></li>
                {% else %}
                <li><a href="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::VIEW_PRODUCER_KEY'), {  'offset': i }) }}"> {{i}}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <li> <a class="next" href="{{ path(constant('Main\\StockManagerBundle\\Common\\StockManagerRouting::VIEW_PRODUCER_KEY'), {  'offset': paginator.currentpage+1 }) }}">Next</a>
    </ul>
</div>
  	
{% endblock %}